<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Pusher &amp; Twilio Example</title>
  </head>
  <body>
    
    <h1>Pusher &amp; Twilio Example</h1>
    
    <div>
      <h3>SMS</h3>
      <ul id="sms_messages"></ul>        
    </div>
    
    <div>
      <h3>Incoming Calls</h3>
      <ul id="incoming_calls"></ul>
    </div>
    
    <script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
    <script src="http://js.pusher.com/1.12/pusher.min.js"></script>
    <script>
      var PUSHER_CONFIG = {
        APP_KEY: '<%= @app_key %>'
      };
    </script>
    <script src="js/app.js"></script>
    <script src="js/test_helpers.js"></script>

  </body>
</html>